src/assets/logo.dtd

<!ELEMENT svg (defs,g+)>
<!ATTLIST svg width NMTOKEN #REQUIRED>
<!ATTLIST svg height NMTOKEN #REQUIRED>
<!ATTLIST svg viewBox CDATA #REQUIRED>
<!ATTLIST svg class NMTOKEN #REQUIRED>
<!ELEMENT defs EMPTY>
<!ATTLIST defs id NMTOKEN #REQUIRED>
<!ELEMENT g (circle?,g?,path*)>
<!ATTLIST g id NMTOKEN #IMPLIED>
<!ATTLIST g featurekey NMTOKEN #IMPLIED>
<!ATTLIST g transform CDATA #IMPLIED>
<!ATTLIST g fill CDATA #IMPLIED>
<!ELEMENT circle EMPTY>
<!ATTLIST circle cx NMTOKEN #REQUIRED>
<!ATTLIST circle cy NMTOKEN #REQUIRED>
<!ATTLIST circle r NMTOKEN #REQUIRED>
<!ELEMENT path EMPTY>
<!ATTLIST path d CDATA #REQUIRED>